<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css" />
    <title>論破.net</title>
  </head>

  <body>
    <div class="container">
      <h1 class="title"><a href="./">論破.net</a></h1>
      <form class="admin_form" method="POST" action="/admin/menu">
        <div class="form_items">
          <input class="form_items_input" type="text" name="user" />
        </div>

        <div class="form_items">
          <input class="form_items_input" type="password" name="pw" />
        </div>

        <div class="form_items">
          <input class="form_items_input" id="admin_button" type="submit" />
        </div>
      </form>
    </div>
  </body>
</html>
